body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.entry-item {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto 5% 5% 5% 5%;
    grid-template-areas: "entry-title entry-due-date entry-complete entry-details entry-delete entry-add";
    list-style: none;
    text-align: right;
}

.entry-container {
    vertical-align: top;
}

.entry-title {
    border-left: 1px solid #eee;
    text-align: center;
}
/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
