@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>What is this?</h3>

<p>This is a first attempt at an ASP.NET project by an aspiring software developer.</p>

<h3>Why a to-do list?</h3>

<p>To-Do lists seem to be the first thing people suggest making in ASP.NET.</p>

<h3>Who are you?</h3>

<p>I am Kyle Domaszewicz. You can find my portfolio here: <a href="https://kdomasze.github.io/">https://kdomasze.github.io/</a>.</p>

<h3>Is this project open source? Can I use it for myself?</h3>

<p>Yes! Code is available on my GitHub page <a href="https://github.com/kdomasze/To-Do-List">here</a>. Feel free to Clone, fork, submit a pull request, or let me know about any issues. I would be happy to learn how I can improve my code.</p>

<h3>What about the license?</h3>

<p>Standard MIT License.</p>
