@page
@model ToDoList.Pages.Tasks.IndexModel

@{
    ViewData["Title"] = "Index";
}

@using ToDoList.Utilities
<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
@foreach (var item in Model.Tasks)
{
    @if(item.Task.Completed)
    {
        continue;
    }

    @if(item.Task.ID != Model.Tasks.First().Task.ID)
    {
        <hr />
    }

    @Html.DisplayFor(modelItem => item.Task, "TaskItem", new { padding = 0 })
    @Html.PrintTask(item)
}
