@page
@model ToDoList.Pages.Entries.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Entry</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Entry.Title" class="control-label"></label>
                <input asp-for="Entry.Title" class="form-control" />
                <span asp-validation-for="Entry.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.CreationDate" class="control-label"></label>
                <input asp-for="Entry.CreationDate" class="form-control" />
                <span asp-validation-for="Entry.CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entry.DueDate" class="control-label"></label>
                <input asp-for="Entry.DueDate" class="form-control" />
                <span asp-validation-for="Entry.DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Entry.Completed" /> @Html.DisplayNameFor(model => model.Entry.Completed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Entry.Parent" class="control-label"></label>
                <input asp-for="Entry.Parent" class="form-control" />
                <span asp-validation-for="Entry.Parent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
